<head>
  <style>
  table, th, td {
    border: 1px solid #aaa;
  }
  </style>
</head>
<body>

<h1>Planets of a galaxy far, far away...</h1>
<p>Commands: <a href="/test_clear_data">Clear</a> all data, <a href="/test_fill_data">Initiate</a> data extraction</p>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Climate</th>
      <th scope="col">Gravity</th>
    </tr>
  </thead>
  <tbody>
    {% for planet in planetList %}
    {% set id = planet['id'] %}
    <tr>
      <td>{{ id }}</td>
      <td><a href={{ "planet/" ~ id }}>
        {{ planet['name'] }}
      </a></td>
      <td>{{ planet['climate'] }}</td>
      <td>{{ planet['gravity'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>